.leaflet-control-nameselector {
	border-radius: 4px;
	background: white;
	min-width: 26px;
	min-height: 26px;
}

.leaflet-touch .leaflet-control-nameselector {
	min-width: 30px;
	min-height: 30px;
}

.leaflet-control-nameselector a, .leaflet-control-nameselector .leaflet-control-nameselector-icon {
	border-bottom: none;
	display: inline-block;
}

.leaflet-control-nameselector .leaflet-control-nameselector-alternatives a {
	width: inherit;
	height: inherit;
	line-height: inherit;
}

.leaflet-control-nameselector a:hover, .leaflet-control-nameselector .leaflet-control-nameselector-icon:hover {
	border-bottom: none;
	display: inline-block;
}

.leaflet-control-nameselector-form {
	display: none;
	vertical-align: middle;
}
.leaflet-control-nameselector-expanded .leaflet-control-nameselector-form {
	display: inline-block;
}
.leaflet-control-nameselector-form input {
	font-size: 120%;
	border: 0;
	background-color: transparent;
	width: 300px;
}

.leaflet-control-nameselector-icon {
	border-radius: 4px;
	width: 26px;
	height: 26px;
	border: none;
	background-color: white;
	background-image: url(images/save.png);
	background-repeat: no-repeat;
	background-position: center;
}

.leaflet-touch .leaflet-control-nameselector-icon {
	width: 30px;
	height: 30px;
}

.leaflet-control-nameselector-throbber .leaflet-control-nameselector-icon {
	background-image: url(images/throbber.gif);
}

.leaflet-control-nameselector-form-no-error {
	display: none;
}

.leaflet-control-nameselector-form input:focus {
	outline: none;
}

.leaflet-control-nameselector-form button {
	display: none;
}
.leaflet-control-nameselector-error {
	margin-top: 8px;
	margin-left: 8px;
	display: block;
	color: #444;
}
.leaflet-control-nameselector-alternatives {
	display: block;
	width: 272px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.leaflet-control-nameselector-alternatives-minimized {
	display: none;
	height: 0;
}
.leaflet-control-nameselector-alternatives li {
	white-space: nowrap;
	display: block;
	overflow: hidden;
	padding: 5px 8px;
	text-overflow: ellipsis;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.leaflet-control-nameselector-alternatives li a, .leaflet-control-nameselector-alternatives li a:hover {
	width: inherit;
	height: inherit;
	line-height: inherit;
	background: inherit;
	border-radius: inherit;
	text-align: left;
}

.leaflet-control-nameselector-alternatives li:last-child {
	border-bottom: none;
}
.leaflet-control-nameselector-alternatives li:hover, .leaflet-control-nameselector-selected {
	background-color: #f5f5f5;
}
.leaflet-control-nameselector-address-detail {
	
}
.leaflet-control-nameselector-address-context {
	color: #666;
}